asgiref
awsebcli
botocore
cement
certifi
charset-normalizer
colorama
dj-database-url
Django
djangorestframework
gunicorn
idna
jmespath
mysqlclient
packaging
pathspec
pillow
psycopg2-binary

python-dateutil

PyYAML
requests
semantic-version
setuptools
six
sqlparse
termcolor
typing_extensions
tzdata
urllib3
wcwidth
whitenoise
