{% extends 'FreshHire/slayout.html'%}
{% block body%}
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  <link rel="stylesheet" href="{% static 'FreshHire/css/edit_profile.css' %}">
</head>
<body>
  <div class="container">
    <h1>Edit Profile</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'edit_profile'%}">
      {% csrf_token %}
      {% for profile in profile %}
      <div class="form-group">
        <label for="profile_picture">Profile Picture:</label>
        <input type="file" name="profile_picture" id="profile_picture"  {% if profile.profile_picture%}
        value="{{profile.profile_picture.url}}" {% else%} name="profile_picture" {% endif%} >
      </div>

      <div class="form-group">
        <label for="education">Education:</label>
        <textarea name="education" id="education" rows="3" placeholder="Enter your education details" value="{{profile.education}}">{{ profile.education }}</textarea>
      </div>

      <div class="form-group">
        <label for="skills">Skills:</label>
        <input type="text" name="skills" id="skills" value="{{ profile.skills }}" placeholder="Enter your skills (e.g., Python, Django, React)">
      </div>

      <div class="form-group">
        <label for="resume">Upload Resume:</label>
        <input type="file" name="resume" id="resume" value="{{profile.resume}}">
      </div>
{% endfor%}
      <button type="submit" class="btn">Save Changes</button>
    </form>
  </div>
</body>
</html>
{% endblock%}