<!DOCTYPE html>
<html lang="en">
<head>
  {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Dashboard</title>
     <link rel="stylesheet" href="{% static 'FreshHire/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'FreshHire/css/dashboard_employer.css'%}">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <div class="navbar-container">
        <a href="#" class="logo">FreshHire</a>
        <ul class="navbar-links">
            <li><a href="{%url 'ehome'%}">Home</a></li>
            <li><a href="{%url 'emy_profile'%}">My Profile</a></li>
            <li><a href="{% url 'post_job'%}">Post a Job</a></li>
            <li><a href="{% url 'mylistings' %}">My Listings</a></li>
            
            <li><a href="{%url 'logout'%}">Logout</a></li>
        </ul>
    </div>
</div>

{%block body%}
{% endblock%}
</body>
</html>
